*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
   background-color: black;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.box{
    width: 300px;
    height: 300px;
    background-color: red;
  
}


@media (max-width:1292px) {

    .box{
        width: 400px;
        height: 300px;
        background-color: blue;
        
    }

    body{
        background-color: greenyellow;
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 5px;
    }

}

@media (max-width:1064px) {
    .box{
        width: 300px;
        height: 250px;
        background-color: black;
        
    }

    body{
        background-color: red;
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 5px;
    }

}

@media (max-width:910px) {
    .box{
        width: 250px;
        height: 200px;
        background-color: blue;
        
    }

    body{
        background-color: greenyellow;
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media (max-width:770px) {
    .box{
        width: 370px;
        height: 300px;
        background-color: rgb(234, 115, 115);
        
    }

    body{
        background-color: plum;
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 5px;
    }
}


@media (max-width:750px) {
    .box{
        width: 370px;
        height: 300px;
        background-color: rgb(234, 115, 115);
        
    }

    body{
        background-color: plum;
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }
}